<div class="mainBeer">
    <img src="images/beer.png" alt="beer">
    <div class="index-buttons">
        <a href="/beers">Check the Beers</a>
        <a href="/random">Check a Random Beers</a>
    </div>
</div>